.modalOpen {
    background-color: #61BCF9!important;
    border-color: #61BCF9!important;
    margin: 0.5rem;
}

.modalOpen:hover {
    background-color: rgb(83, 162, 214)!important;
    border-color: rgb(83, 162, 214)!important;
}

.modal {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.modal-content {
    min-width: 60vw;
    min-height: 40vh;
}

.modal-dialog {
    max-width: 95vw;
}

.modal-tile {
    font-size: 2rem;
}

.modal-footer {
    justify-content: center;
}

.close-button {
    background-color: rgba(0, 0, 0, 0.5)!important;
    border-color: rgba(0, 0, 0, 0.5)!important;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.7)!important;
    border-color: rgba(0, 0, 0, 0.7)!important;
}

.submit {
    background-color: #61BCF9!important;
    border-color: #61BCF9!important;
}
.submit:hover {
    background-color: rgb(83, 162, 214)!important;
    border-color: rgb(83, 162, 214)!important;
}

@media only screen and (max-width: 600px) {
    .modal-content {
        min-width: 95vw;
    }
}