.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    font-size: 5rem;
    margin: 0;
    color: rgba(0, 0, 0, 0.7)
}

.fa-home {
    color: #61BCF9;
    font-size: 5rem;
    margin: 1.5rem 0.2rem 0.5rem 1rem;
}

.fa-sun {
    color: #FFE556;
    font-size: 3.5rem;
    align-self: flex-start;
}

.slogan {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem auto;
    color: rgba(0, 0, 0, 0.5)
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem
    }

    .fa-home {
        font-size: 3rem;
        margin: 1.5rem 0.2rem 0.5rem 1rem;
    }
    
    .fa-sun {
        color: #FFE556;
        font-size: 1.7rem;
        align-self: flex-start;
    }

    .slogan {
        font-size: 1rem;
    }
    
}