.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    font-size: 5rem;
    margin: 0;
    color: rgba(0, 0, 0, 0.8)
}

h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.6)
}

.brand .fa-home {
    color: #61BCF9;
    font-size: 5rem;
    margin: 1.5rem 0.2rem 0.5rem 1rem;
}

.brand .fa-sun {
    color: #FFEB26;
    font-size: 3.5rem;
    align-self: flex-start;
}

.slogan {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem auto;
    color: rgba(0, 0, 0, 0.5)
}

.titleInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-height: 45vh;
    padding-bottom: 2rem;
}

.titleInfo::after {
    content: '';
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: -3rem;
    right: -3rem;
}

.auth-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.feature {
    margin: 4rem 2rem;
    width: 30vw

}

.safari {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
    padding: 0 1rem 1rem 1rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem
    }

    h3 {
        font-size: 1.2rem;
    }

    .titleInfo {
        padding: 0;
    }

    .titleInfo::after {
        display: none;
    }

    .brand .fa-home {
        font-size: 3rem;
        margin: 1.5rem 0.2rem 0.5rem 1rem;
    }
    
    .titleInfo {
        min-height: 30vh;
    }

    .brand .fa-sun {
        color: #FFE556;
        font-size: 1.7rem;
        align-self: flex-start;
    }

    .slogan {
        font-size: 1rem;
    }

    .features {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .feature {
        width: 90vw;
        margin: 0;
        margin-top: 2rem;
    }
    
}