footer {
    text-align: center;
    font-size: small;
    margin-bottom: 1rem;
    justify-self: flex-end;
}

footer * {
    color: rgba(0, 0, 0, 0.7)
}

.githubLink:hover {
    color: rgba(0, 0, 0, 0.7)
}