.navbar {
    display: flex;
}

.navbar * {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7)!important;
    padding: 0 0.3rem;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.storehouse {
    justify-self: flex-start;
    align-self: flex-start;
    position: relative;
}

.authLink {
    cursor: pointer;
}

.nav-item:hover{
    color: #61BCF9!important;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #61BCF9!important;
    cursor: pointer;
}

.nav-link:hover .nav-home {
    color: #61BCF9!important;
}

.nav-link:hover .nav-sun {
    color: #FFE556!important;
}

.nav-sun {
    font-size: 0.8rem;
    position: absolute;
    top: 0.25rem;
    right: -0.5rem;
}