.specify {
    height: 100%;
    flex-grow: 2;
    padding: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address input {
    min-width: 500px;
}

.submit {
    align-self: center
}


@media only screen and (max-width: 600px) {
    .specify {
        padding: 2rem;
    }
}