.specify {
    height: 100%;
    flex-grow: 2;
    padding: 5rem;
}

.specify h1 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 0.8rem;
}

.address input {
    width: 300px
}

.zipcode input {
    width: 180px;
}

.customer_class select {
    width: 300px;
}

.utility select {
    width: 300px;
}

.tariff select {
    width: 300px;
}

.usage input {
    width: 300px;
}

.solar-form select {
    width: 300px;
}

.battery select {
    width: 300px;
}

.required {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.submit {
    background-color: #61BCF9!important;
    border-color: #61BCF9!important;
    margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .specify {
        padding: 2rem;
    }
}