.specify {
    height: 100%;
    flex-grow: 2;
    padding: 5rem;
}

.specify h1 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address input {
    width: 300px
}

.zip input {
    width: 180px;
}

.utility select {
    width: 300px;
}

.tariff select {
    width: 300px;
}

.usage input {
    width: 300px;
}

.solar select {
    width: 300px;
}

.battery select {
    width: 300px;
}


.submit {
    align-self: center
}


@media only screen and (max-width: 600px) {
    .specify {
        padding: 2rem;
    }
}