.homePage {
    align-self: flex-start;
    padding: 2rem 7rem 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 2;
    box-sizing: border-box;
    max-width: 100%;
}

.deleteAccount {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    margin-bottom: 0;
}

.deleteAccount:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}

.properties-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.property {
    margin: 15px;
    width: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.property:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.properties {
    margin-top: 2rem
}

.welcome {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.welcome h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
}

.username {
    color: #61BCF9;
    font-size: 2.6rem;
    padding-left: 1rem;
}
.properties, .newProperty {
    max-width: 800px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-body * {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.card-title {
    color: rgba(0, 0, 0, 0.8);
}

.estimate {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.properties h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
}

.newProperty h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    margin-top: 1.5rem
}

.newProperty p {
    color: rgba(0, 0, 0, 0.6);
}

.begin, .viewDetail {
    background-color: #61BCF9!important;
    border-color: #61BCF9!important;
    margin: 0.5rem;
    color: white;
}

.begin:hover, .viewDetail:hover {
    cursor: pointer;
}

.address {
    padding-top: 0.5rem;
    font-size: 0.8rem!important;
    font-weight: normal!important;
}

@media only screen and (max-width: 600px) {
    .homePage {
        padding: 4rem 2rem 1rem 2rem;
    }

    .welcome {
        flex-direction: column;
        align-items: flex-start;
    }

    .welcome h1 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.5rem;
    }


    .username {
        font-size: 2rem;
        padding-left: 0;
    }

    .properties {
        margin-top: 2rem;
        font-size: 1rem;
    }

    .properties h2 {
        font-size: 1.2rem;
    }
    
    .newProperty {
        margin-top: 0;
    }

    .newProperty h2 {
        font-size: 1.2rem;
    }
}